version: 2
orbs:
  codecov: codecov/codecov@4.0.1
jobs:
  build:
    docker:
      - image: circleci/openjdk:8-jdk
    steps:
      - checkout  # Récupère le code source dans le répertoire de travail
      - run:
          name: Run Tests
          command: mvn test
      - run:
          name: Run Checkstyle
          command: mvn checkstyle:check
      - run:
          name : upload-to-codecov
          command: bash <(curl -s https://codecov.io/bash)

workflows:
  version: 2
  build:
    jobs:
      - build:
          filters:
            branches:
              only:
                - master
  upload-to-codecov:
    jobs:
      - build